server {
    listen 80;
    listen [::]:80;
    server_name ${AICARE_DOMAIN} ${AICARE_API_DOMAIN};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 503;
    }
}
